
<div class="container static-page-text-body">
<div class="row">
	<div class="col s12">
		<div class="col s6 offset-s4"></div>
			<h3><b>Contact Us 🎉</b></h3>


			<h4><b>Questions? Comments?</b></h4>
			<p>Have questions or comments? Find us on <a href="https://gitter.im/joeyklee/bec-explorer?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge">gitter chat</a> or ping us via email at: (email coming soon!)
			</p>

			<h4><b>Want to contribute?</b></h4>
			<p>You can contribute to the development of the project on <a href="https://github.com/joeyklee/bec-explorer">Github</a>, submit photos, or any insights from your experiences out in the field!</p>
			{{!-- <p>The project is being developed as open source and can be found on <a href="https://github.com/joeyklee/bec-explorer">Github</a>.</p> --}}

	</div>
</div>
</div>