<style type="text/css">
.scenery-img {
    width: 200px;
    height: 200px;
}

ul.browser-default li {
  list-style-type: initial;
  margin-left: 30px;
}

section{
	padding-top: 20px;
}

</style>
<div class="container static-page-text-body">
    <div class="row">
        <div class="col s12">
            <div class="col s6 offset-s4"></div>
            <h3><b>How to use the BC Climate Explorer</b></h3>
            <section>
                <p>This page gives some information about how to use the tool: 
                <ul class="browser-default">
	                <li>1. Lorem Ipsum dolor sit amet</li>
	                <li>2. Lorem Ipsum dolor sit amet</li>
	                <li>3. Lorem Ipsum dolor sit amet</li>
	                <li>4. Lorem Ipsum dolor sit amet</li>
                </ul>
                </p>
            </section>
            <section>
                <h4><b>Subheader</b></h4>
                <p>Lorem ipsum dolor sit amet, excepteur ultrices ultricies velit ridiculus vitae ultricies. Rhoncus rhoncus consequat cum sed arcu ipsum, elit ante lacus et justo vel odio, bibendum sem a molestie sagittis proin elit, suspendisse curae ac purus et. Dapibus quis, a interdum, tempor laoreet cubilia at vel donec est, vitae magna purus congue lorem aenean ac, at in. Felis et quis, suscipit ut sit, erat pede blandit dolor eros taciti. Donec euismod praesent, ac adipisci nulla volutpat fusce id, turpis mattis ut sed, sed etiam tempus cras lobortis odio. Purus ultrices massa ante nunc dui, orci dapibus aliquam venenatis bibendum, aliquet vel dolor leo hendrerit maecenas sed. Elit egestas elit. Aliquam aliquam sem consequat non sit vitae, ligula vestibulum sed pellentesque, velit aliquam ac. Morbi eros mi donec, taciti natoque. Sit mattis ornare at, vestibulum sed vivamus tellus..</p>
            </section>
            <br>
        </div>
    </div>
</div>
