<style type="text/css">
.scenery-img {
    width: 200px;
    height: 200px;
}

ul.browser-default li {
  list-style-type: initial;
  margin-left: 30px;
}

section{
	padding-top: 20px;
}

</style>
<div class="container static-page-text-body">
    <div class="row">
        <div class="col s12">
            <div class="col s6 offset-s4"></div>
            <h3><b>Video: how to use the BC Climate Explorer</b></h3>
            <section>
<iframe width="900" height="600" src="https://www.youtube.com/embed/1GPJwOt5yZo" frameborder="0" allowfullscreen></iframe>
            </section>
            <br>
        </div>
    </div>
</div>
