html,
body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

#cartodb-map {
width: 100%;
height: 100%;
background: black;
position:absolute;
}
/* nav header */

.navbar-header {
margin-left: -15px;
}

/*static page*/
.static-page{
	
	margin-top: 100px;
}
.about, .current-research, .contact{
	display:none;
}

/*sidebar*/
#sidebar{
	width:400px;
	height:100%;
	position: absolute;
	background-color: white;
}

#sidebar-content{
	margin-top: 130px;
}


#chart-explanation{
	height:200px;
	overflow-y:auto;
	overflow-x: hidden;
}

/*#chart-selector{
	height:30px;
}*/


#chart-options, #map-options{
	text-align: right;
}

#map-options:hover, #chart-options:hover{
	cursor: pointer;
}

#bec-unit-selector{
	top: 60px;
	left: 15px;
	z-index: 1000;
	position: absolute;
}

#bec-unit-button-selector {
    width: 320px;
    height: 50px;
}
#bec-unit-dropdown{
	width:50px;
	height:50px;
}

#sidebar-toggle-button{
	position: absolute;
	width:20px;
	height:50px;
	top:60px;
	left: 405px;
	background-color: grey;
	border: 1px solid black;
	z-index: 1000;
	display: flex;
	align-items: center;
}
#sidebar-toggle-button-arrow{
	margin-top: -5px;
}


#chart{
	margin-top: 10px;
	height:300px;
	width:350px;
	/*background-color: grey;*/
}


#explore-bar{
	position: absolute;
	bottom:-150px;
	right:0;
	height:150px;
	width:100%;
	background-color: white;
	border-top: 1px solid grey;
}

#explore-bar-toggle{
	position: absolute;
	bottom:10px;
	right: 10px;
	background-color: white;
	border:1px solid grey;
	padding:10px;
}

#photo-scroll{
	margin-top: 20px;
	width:100%;
	overflow-x: auto;
	height:100px;
	height:120px;
	white-space:nowrap;
}

.photo-browse{
	/*padding-top: 20px;*/
	width:150px;
	height:100px;
	display:inline-block;
}

#photo-browse-large{
	width:100%;
}
