<link rel="stylesheet" type="text/css" href="index/style/style-ui-refactor.css">
{{!-- <link rel="stylesheet" type="text/css" href="index/style/nouislider.css"> --}}


<div id="mapid"></div>
<div class="row">
    <div class="sidebar-expander z-depth-1"></div>
    <div class="sidebar col l5 m5 s5 z-depth-2">
        <div class="sidebar-main">
            <div class="chart-selector-row row">
                    <div class="col l4 m12 s12 sidebar-display-buttons waves-effect waves-light btn-flat btn-large purple darken-3 sidebar-display-map disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Change what's displayed on the map">Map Controls</div>
                    <div class="col l4 m12 s12 sidebar-display-buttons waves-effect waves-light btn-flat btn-large purple darken-3  sidebar-display-timeseries disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Explore historical and future BEC climate data">Time Series</div>
                    <div class="col l4 m12 s12 sidebar-display-buttons waves-effect waves-light btn-flat btn-large purple darken-3 sidebar-display-scatterplot disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Examine climatological relationships">Climate Normals</div>
            </div>
            <div class="map-selection-row">
                <div class="welcome-map-outer">
                    <div class="row welcome-map-inner">
                        <div class="col l12 m12 s12">
                            <center><h4>The BC Climate Explorer</h4></center>
                            <div class="col s4 offset-s4">
                                <img src="https://raw.githubusercontent.com/joeyklee/bec-explorer/gh-pages/assets/img/header-img.png" alt="" class="circle responsive-img z-depth-2 header-img">
                            </div>
                        </div>
                        <div class="row col l12 m12 s12 left-align">
                            <p>
                                <b>Welcome to the BC Climate Explorer.</b> This web tool helps you dig deep into the climates of British Columbia — past, present, and future. The heart of this tool is the Biogeoclimatic Ecosystem Classification (BEC). BEC differentiates more than 200 climate types — a richly detailed map of British Columbia’s climatic diversity. Use this tool to explore the climates of BC, compare them to each other, and see how they are changing over time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="map-controls">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <label>Map By</label>
                        </div>
                        <div class="col l12 m12 s12">
                            {{!-- <div class="col l4 m12 s12 map-display-buttons">
                                <a class="waves-effect waves-light btn-floating disabled map-display-buttons purple darken-3"></a> BEC Unit</div>
                            <div class="col l4 m12 s12 map-display-buttons">
                                <a class="waves-effect waves-light btn-floating map-display-buttons purple darken-3"></a> BEC Zone</div>
                            <div class="col l4 m12 s12 map-display-buttons">
                                <a class="waves-effect waves-light btn-floating disabled map-display-buttons climate-variables-button purple darken-3"><i class="material-icons"></i></a> Climate</div> --}}
                            <div class="col l4 m12 s12 waves-effect waves-light  map-display-buttons btn btn-flat disabled purple lighten-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Includes subzones and variants">BEC Unit</div>
                            <div class="col l4 m12 s12 waves-effect waves-light map-display-buttons btn btn-flat purple lighten-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aggregates BEC subzones and variants">BEC Zone</div>
                            <div class="col l4 m12 s12 waves-effect waves-light  map-display-buttons btn btn-flat disabled climate-variables-button purple lighten-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Climate variables at the BEC unit level">Climate</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <label>Variables From</label>
                            <div class="input-field timescale-selector">
                                <select>
                                    <option value="all" selected>All Time Scales</option>
                                    <option value="annual">Annual</option>
                                    <option value="seasonal">Seasonal</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                            </div>
                        </div>
                        <div class="col l6 m12 s12">
                            <label>Climate Variable</label>
                            <div class="input-field climate-variables climate-variables-map">
                                <select>
                                    <option value="map" selected>map</option>
                                    <option value="ahm">Annual Heat Moisture Index</option>
                                    <option value="elevation">Elevation</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <label>Choose basemap</label>
                        </div>
                        <div class="col l6 m12 s12">
                            <label>Legend</label>
                            <div id="climate-legend"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeseries-row">
                <div class="row">
                    <div class="col l12 m12 s12">
                        <label><b>Climate Time Series 1901-2100</b></label>
                        <label>The BC Climate Explorer shows historial data dating back to 1901 and modeled data to 2100 using the RCP 4.5 and RCP 8.5 climate scenarios. Compare BEC units for different years. 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col l8 m8 s12">
                            <div id="timeseries-chart"></div>
                        </div>
                    </div>
                    {{!-- <div class="col l12 m12 s12"> --}}
                        <div class="row">
                            <div class="time-aggregation-climate-variables">
                                <div class="col l12 m12 s12">
                                    <div class="col l6 m12 s12">
                                        <label>Variables From</label>
                                        <div class="input-field timescale-selector">
                                            <select>
                                                <option value="all" selected>All Time Scales</option>
                                                <option value="annual">Annual</option>
                                                <option value="seasonal">Seasonal</option>
                                                <option value="monthly">Monthly</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col l6 m12 s12">
                                        <label>Climate Variable</label>
                                        <div class="input-field climate-variables climate-variables-chart">
                                            <select>
                                                <option value="map" selected>map</option>
                                                <option value="ahm">Annual Heat Moisture Index</option>
                                                <option value="elevation">Elevation</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <a class="col s12">
                                    <label class="timeseries-options-expander right active">Options</label>
                                </a>
                            </div>
                        </div>
                        <div class="timeseries-options active">
                            <div class="row">
                                <div class="comparison-dropdowns">
                                    <div class="col l6 m12 s12">
                                        <div class="col s10">
                                        <label>Compare:</label>
                                            <div class="input-field bec-unit-variables bec-focal-selector">
                                                <select>
                                                    <option value="1" selected>BEC Unit 1</option>
                                                    <option value="2">BEC Unit 2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col s2 add-pin-div">
                                            <a class="add-focal-pin"><i class="material-icons add-focal-pin">location_on</i></a>
                                        </div>
                                    </div>
                                    <div class="col l6 m12 s12">
                                        <div class="col s10">
                                        <label>To:</label>
                                            <div class="input-field bec-unit-variables bec-comparison-selector">
                                                <select>
                                                    <option value="1" selected>BEC Unit 1</option>
                                                    <option value="2">BEC Unit 2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col s2 add-pin-div">
                                            <a class="add-comparison-pin"><i class="material-icons add-comparison-pin">location_on</i></a>
                                        </div>
                                    </div>
                                    <a class="col s12">
                                        <label class="reset-comparison-pins right">Reset Pins</label>
                                    </a>
                                </div>
                            </div>
                            <div class="timerange-dropdowns">
                                <div class="col l12 m12 s12">
                                    <label>Time Period</label>
                                </div>
                                <div class="col l6 m12 s12">
                                    <label>From:</label>
                                    <div class="input-field timerange-select timerange-select-from">
                                        <select>
                                            <option value="2011" selected>2011</option>
                                            <option value="2100">2100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col l6 m12 s12">
                                    <label>To:</label>
                                    <div class="input-field timerange-select timerange-select-to">
                                        <select>
                                            <option value="2013" selected>2013</option>
                                            <option value="2100">2100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{!-- </div> --}}
                </div>
            </div>
            <div class="scatterplot-row">
                <div class="row">
                    <div class="col l12 m12 s12">
                        <label><b>Climate Normals 1981-2010</b></label>
                        <label>Climate normals are used as the baseline data for understanding the current climate of a region. Examine the relationships between the climate and physical variables that contribute to each of BC's unique climates. 
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div id="scatter-chart"></div>
                    </div>
                    <div class="row scatter-control-panel">
                        <div class="col s12">
                            <div class="col s12">
                                <label>Variables From</label>
                                <div class="input-field timescale-selector">
                                    <select>
                                        <option value="all" selected>All Time Scales</option>
                                        <option value="annual">Annual</option>
                                        <option value="seasonal">Seasonal</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s6">
                                <label>x</label>
                                <div class="input-field scatter-x climate-variables">
                                    <select>
                                        <option value="map" selected>map</option>
                                        <option value="ahm">Annual Heat Moisture Index</option>
                                        <option value="elevation">Elevation</option>
                                    </select>
                                </div>
                                <div class="switch scatter-x-axis scatter-x">
                                    <label>
                                        Log: Off
                                        <input type="checkbox">
                                        <span class="lever"></span> On
                                    </label>
                                </div>
                            </div>
                            <div class="col s6">
                                <label>y</label>
                                <div class="input-field scatter-y climate-variables">
                                    <select>
                                        <option value="map" selected>map</option>
                                        <option value="ahm">Annual Heat Moisture Index</option>
                                        <option value="elevation">Elevation</option>
                                    </select>
                                </div>
                                <div class="switch scatter-y-axis scatter-y">
                                    <label>
                                        Log: Off
                                        <input type="checkbox">
                                        <span class="lever"></span> On
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Trigger -->
<a class="waves-effect waves-light btn-floating modal-trigger purple darken-3 tooltipped" href="#modal1" data-position="bottom" data-delay="50" data-tooltip="Help?">  <i class="material-icons">info_outline</i></a>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
      <div class="row col s12">
          <center> <h4>How does this work?</h4></center>
      
          <br>

          <p>Please enjoy this quick video run through of the functionality of the BC Climate Explorer</p>
          <center>
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/sTwu-np0IJw" frameborder="0" allowfullscreen></iframe>
          </center>

          <br>
          <h5>Map Controls</h5>
          <p>Toggle between BEC Units, Zones, and the climate variables represented on the map.</p>
          
          <h5>Time Series</h5>
          <p>Change the climate variable represented on the timeseries graph. Click the "options" button to change the focal and the comparison BEC units and the selected time range. You can select the focal and comparison BEC units either by using the dropdown menu or by using the pins on the map.</p>

         <h5>Climate Normals: Scatterplot</h5>
         <p>Examine the relationship between the various climate variables for the BEC units and their climate normals from 1981 to 2010.</p>

      </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">OK</a>
  </div>
</div>



{{!-- <script type="text/javascript" src="index/js/nouislider.js"></script> --}}
<script type="text/javascript" src="index/js/index.js"></script>
<script type="text/javascript" src="index/js/fillSelectorDropdowns.js"></script>
<script type="text/javascript" src="index/js/mapcolors.js"></script>
<script type="text/javascript" src="index/js/mapapp.js"></script>
<script type="text/javascript" src="index/js/sidebarix.js"></script>
<script type="text/javascript" src="index/js/mapui.js"></script>
<script type="text/javascript" src="index/js/colorbrewer.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.min.js"></script>
<script type="text/javascript" src="index/js/climatescatterplot.js"></script>
<script type="text/javascript" src="index/js/climatetimeseries.js"></script>
