<link rel="stylesheet" type="text/css" href="index/style/style.css">
<link rel="stylesheet" type="text/css" href="index/style/nouislider.css">
<link rel="stylesheet" type="text/css" href="index/style/cartodb-infowindow-default.css">
<div id="mapid"></div>
{{!-- <div class="my-action-buttons">
    <div class="fixed-action-btn horizontal click-to-toggle">
       <a class="btn-floating btn-large teal">
         <i class="material-icons">menu</i>
       </a>
       <ul>
         <li><a class="btn-floating green add-focal-pin"><i class="material-icons">location_on</i></a></li>
         <li><a class="btn-floating blue darken-1 add-comparison-pin"><i class="material-icons">location_on</i></a></li>
         <li><a class="btn-floating red reset-comparison-pins"><i class="material-icons">location_off</i></a></li>
         <li><a class="btn-floating yellow"><i class="material-icons">publish</i></a></li>
       </ul>
     </div>
</div>  --}}
<div id="domelems">
    <div class="row">
        <div class="expander active z-depth-1"></div>
        <div class="sidebar active white z-depth-2">
            <div class="sidebar-items">
                <div class="row sidebar-nav-top">
                    <div class="row">
                        <label>Map By</label>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn disabled map-display-buttons">BEC Units</a>
                            <a class="waves-effect waves-light btn map-display-buttons">Zones</a>
                            <a class="waves-effect waves-light btn disabled map-display-buttons climate-variables-button">Climate</a>
                            <a><i class="material-icons climate-tool-button">arrow_drop_down_circle</i></a>
                        </div>
                    </div>
                    <div class="climate-tools">
                        <label>Compare By BEC Unit</label>
                        <div class="row">
                            <div class="comparison-dropdowns">
                                <div class="col s6">
                                    <div class="col s10">
                                        <label>Compare:</label>
                                        <div class="input-field bec-unit-variables bec-focal-selector">
                                            <select>
                                                <option value="1" selected>BEC Unit 1</option>
                                                <option value="2">BEC Unit 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col s2 add-pin-div">
                                        <a class="add-focal-pin"><i class="material-icons add-focal-pin">location_on</i></a>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="col s10">
                                        <label>To:</label>
                                        <div class="input-field bec-unit-variables bec-comparison-selector">
                                            <select>
                                                <option value="1" selected>BEC Unit 1</option>
                                                <option value="2">BEC Unit 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col s2 add-pin-div">
                                        <a class="add-comparison-pin"><i class="material-icons add-comparison-pin">location_on</i></a>
                                    </div>
                                </div>
                                <a class="col s12">
                                    <label class="reset-comparison-pins right">Reset Pins</label>
                                </a>
                            </div>
                        <div class="timerange-dropdowns">
                            <div class="col s12">
                            <label>Time Period</label>
                            </div>
                            <div class="col s6">
                                <label>From:</label>
                                <div class="input-field timerange-select timerange-select-from">
                                    <select>
                                        <option value="2011" selected>2011</option>
                                        <option value="2100">2100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s6">
                                <label>To:</label>
                                <div class="input-field timerange-select timerange-select-to">
                                    <select>
                                        <option value="2013"selected>2013</option>
                                        <option value="2100">2100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <label>Time Scale</label>
                                <div class="input-field timescale-selector">
                                    <select>
                                        <option value="all" selected>All Time Scales</option>
                                        <option value="annual">Annual</option>
                                        <option value="seasonal">Seasonal</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                                {{!-- <label>Climate Scenario</label>
                                <div class="input-field">
                                    <select>
                                        <option value="1" selected>RCP 4.5</option>
                                        <option value="2">RCP 8.0</option>
                                    </select>
                                </div> --}}
                                {{!-- <label>Time Period</label>
                                <div class="input-field timeperiod-selector">
                                    <select>
                                        <option value="1" selected>1961-1990</option>
                                        <option value="2">2011-2040</option>
                                        <option value="3">2041-2070</option>
                                        <option value="3">2071-2100</option>
                                    </select>
                                </div> --}}
                                <label>Climate Variable</label>
                                <div class="input-field climate-variables climate-variables-map">
                                    <select>
                                        <option value="map" selected>map</option>
                                        <option value="ahm">Annual Heat Moisture Index</option>
                                        <option value="elevation">Elevation</option>
                                    </select>
                                </div>
                                {{!-- <br>
                                <label>Time Period</label>
                                <div class="" id="range-input"></div>
                                <br> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="collapsible z-depth-0" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header map-description"> <i class="material-icons right">add</i>Description</div>
                        <div class="collapsible-body">
                            <div class="row col s12">
                                <div class="col s6 offset-s3">
                                    <img src="https://raw.githubusercontent.com/joeyklee/bec-explorer/gh-pages/assets/img/header-img.png" alt="" class="circle responsive-img z-depth-2 header-img">
                                </div>
                            </div>
                            <p>
                                <b>Welcome to the BEC Climate Explorer.</b> This web tool helps you dig deep into the climates of British Columbia — past, present, and future. The heart of this tool is the Biogeoclimatic Ecosystem Classification (BEC). BEC differentiates more than 200 climate types — a richly detailed map of British Columbia’s climatic diversity. Use this tool to explore the climates of BC, compare them to each other, and see how they are changing over time.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header scatter-panel"> <i class="material-icons right">add</i>Scatterplot: Climate Normals 1981-2010</div>
                        <div class="collapsible-body">
                            <div id="scatter-chart"></div>
                            {{!-- <img id="scatter-chart" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Bertrand3-scatterplot.svg/2000px-Bertrand3-scatterplot.svg.png"> --}}
                            <div class="row scatter-control-panel">
                                <div class="col s12">
                                    <div class="col s6">
                                        <label>x</label>
                                        <div class="input-field scatter-x climate-variables">
                                            <select>
                                                <option value="map" selected>map</option>
                                            <option value="ahm">Annual Heat Moisture Index</option>
                                            <option value="elevation">Elevation</option>
                                            </select>
                                        </div>
                                        <div class="switch scatter-x-axis scatter-x">
                                            <label>
                                                Log: Off
                                                <input type="checkbox">
                                                <span class="lever"></span> On
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col s6">
                                        <label>y</label>
                                        <div class="input-field scatter-y climate-variables">
                                            <select>
                                                <option value="map" selected>map</option>
                                            <option value="ahm">Annual Heat Moisture Index</option>
                                            <option value="elevation">Elevation</option>
                                            </select>
                                        </div>
                                        <div class="switch scatter-y-axis scatter-y">
                                            <label>
                                                Log: Off
                                                <input type="checkbox">
                                                <span class="lever"></span> On
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"> <i class="material-icons right">add</i>Time Series</div>
                        <div class="collapsible-body">
                            <div id="timeseries-chart"></div>
                        </div>
                    </li>
                    <li class="empty-class">
                        <h1></h1>
                        <h1></h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="index/js/nouislider.js"></script>
<script type="text/javascript" src="index/js/index.js"></script>
<script type="text/javascript" src="index/js/getTemporalColumns.js"></script>
<script type="text/javascript" src="index/js/mapcolors.js"></script>
<script type="text/javascript" src="index/js/mapapp.js"></script>
<script type="text/javascript" src="index/js/mapui.js"></script>
<script type="text/javascript" src="index/js/climatescatterplot.js"></script>
<script type="text/javascript" src="index/js/colorbrewer.min.js"></script>
<script type="text/javascript" src="index/js/climatetimeseries.js"></script>
