<div class="container static-page-text-body">
<div class="row">
	<div class="col s12">
		<div class="col s6 offset-s4"></div>
			<h3><b>BC Climate Explorer API</b></h3>

			<h4>Overview</h4>
			<p>Working with climate data is hard enough. We want to make it as easy as possible for you to access the BC Climate data / BEC data. Since we are using a free <a href="">Cartodb</a> account, all of the data from the BC Climate Explorer can be easily accessed <a href="https://becexplorer.cartodb.com/">here</a>. You can use Cartodb and write your own <a href="https://cartodb.com/academy/courses/sql-postgis/intro-to-sql-and-postgis/">SQL Queries</a> to get back the data that is relevant or interesting for you.</p>
			<p>If "Cartodb" and "SQL" sound crazy to you, we highly recommend checking out all of their <a href="https://cartodb.com/academy/">wonderful learning resources</a> and <a href="https://cartodb.com/platform/">opensource web mapping resources</a>. If you're still not convinced, don't worry, we're working on building out some API endpoints (<a href="https://www.youtube.com/watch?v=rJaXOFfwGVw">what's an API?</a>) for you to get back the data that matters most to you.</p>

			<br>

			<center>
			<img src="http://i.giphy.com/CrFTqYU6wRhWo.gif">
			<br>
			<p>Check back soon for updates!</p>
			</center>

	</div>
</div>
</div>