<style type="text/css">
.scenery-img{
	width:200px;
	height:200px;
}
</style>

<div class="container static-page-text-body">
<div class="row">
	<div class="col s12">
		<div class="col s6 offset-s4"></div>
			<h3><b>About the BC Climate Explorer</b></h3>

			<div class="row">
			<div class="col s12">
				<div class="col s4"><img class="responsive-img z-depth-2" src="../assets/images/22_diavolo2_h.jpg"></div>
				<div class="col s4"><img class="responsive-img z-depth-2" src="../assets/images/120_2016_JFR copy.jpg"></div>
				<div class="col s4"><img class="responsive-img z-depth-2" src="../assets/images/123_2362_RJ copy.jpg"></div>
			</div>
			</div>

			<p>The  <a href="https://www.for.gov.bc.ca/hre/becweb/">Biogeoclimatic Ecosystem Classification</a> ("BECweb") is the foundation for ecosystem management in British Columbia. It is a classification of key abiotic drivers of ecosystem function into climatic units (BGC subzone-variants) and site units (BGC site series) that resource managers and policy-makers treat as the basic units of forest management. BGC units are the basis for tree species selection, silvicultural systems, soil sensitivity assessments, fire hazard mapping, legislated stocking standards, protected area system priorities, and many other areas of planning and practice. Practitioner knowledge of the climatic and ecological dynamics of these units is extensive but predominantly qualitative, and even intuitive amongst some practitioners. The past decade has seen the emergence of an abundance of climate data, most notably through <a href="http://cfcg.forestry.ubc.ca/projects/climate-data/climatebcwna/">ClimateBC</a>. This newly available data gives us the opportunity to improve our quantitative understanding of BEC climate units. In a changing climate, there is an increasing need to bridge the gap between the qualitative ecological knowledge encoded by the BEC system, and the quantitative data provided by climate models. </p>



			<p>The purpose of this tool is to help citizens and BEC practitioners to translate raw climate data into ecological insight. Our approach is primarily graphical—we provide many different ways of visualizing the data. We also believe that comparison is critical to learning, and have provided the means for comparison across different BEC units. As we develop the tool further, we aim to include ways for users to contribute their own knowledge… stay tuned. </p>


			<br>
			<h4><b>Methods</b></h4>

			<p>All climate data used in this site are downloaded from <a href="http://cfcg.forestry.ubc.ca/projects/climate-data/climatebcwna/">ClimateBC</a>. Climate data for each BEC unit were extracted from ClimateBC at a single location representing the average climatic conditions of that unit. The BEC linework is generalized from Version 10 (beta) of the Biogeoclimatic Subzone/Variant (BGC) Mapping, obtained under the<a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/open-data/open-government-license-bc"> Open Government License – British Columbia</a>. We subdivided very large coastal subzones—the CWHvm and MHmm—into three regional subunits: a “South Coast” subunit southeast of Bute inlet (e.g. CWHvm1s), a “West Coast” subunit on Vancouver island (e.g. CWHvm1w), and a “North Coast” subunit northwest of Bute Inlet (e.g. CWHvm1n).</p>

			<p>The project is being developed as open source and can be found on <a href="https://github.com/joeyklee/bec-explorer">Github</a>.</p>

			<br>
			<h4><b>Team</b></h4>

			<div class="row">
				<div class="col s12">
					<div class="col s6">
					<div class="row">
						<div class="col s12">
							<div class="col s6 offset-s3">
								<img src="../assets/images/ColinMahony2015_Color.png" class="responsive-img circle z-depth-2">
							</div>
						</div>
					</div>
						
						<p><strong><em>Colin Mahony (concept, data, and scientific direction)</em></strong> is a Registered Professional Forester on academic leave to do a PhD at the UBC Faculty of Forestry. <a href="http://colinmahony.wix.com/forestclimates">His research</a> investigates novel climates--new climate types with no analog in the observed climates of BC and North America. Colin is a BEC practitioner with experience in silviculture and site identification on the BC Coast, the Cariboo, and the Kootenays. Colin's contributions to this project are funded by a multi-year Fellowship from <a href="http://terreweb.ubc.ca/">TerreWEB</a>, an NSERC CREATE program that supports communication of global change science.</p>
					</div>

					<div class="col s6">
						<div class="row">
						<div class="col s12">
							<div class="col s6 offset-s3">
								<img src="https://avatars1.githubusercontent.com/u/3622055?v=3&s=400" class="responsive-img circle z-depth-2">
							</div>
						</div>
						</div>

						<p><strong><em>Joey Lee (web design and development)</em></strong> is a geographer and interaction designer. He is passionate about technological literacy and the engagement of art and science through computation and collaboration. Joey is co-author of "<a href="http://jk-lee.com/the-big-atlas-of-la-pools/">The Big Atlas of LA Pools</a>" and co-creator of the <a href="https://www.kickstarter.com/projects/357538735/aerial-bold-kickstart-the-planetary-search-for-let">"Aerial Bold" Kickstarter project</a> (<a href="https://vimeo.com/108875406">video here</a>). He is currently based in Vancouver, Canada, as a Mozilla Open Science Fellow. Joey’s contributions to this project are funded by <a href="https://science.mozilla.org/programs/fellowships">Mozilla Fellowships for Science</a>, a program supporting community-level open science and data-sharing.</p>
					</div>
				</div>
			</div>
			

			<br>
			<h4><b>Acknowledgements</b></h4>

			<p>We gratefully acknowledge the Biogeoclimatic Ecosystem Classification (BEC) and Ecology Research program of the British Columbia Ministry of Forests, Lands and Natural Resource Operations for providing BEC spatial data and expert guidance.</p>

			<p>We thank several contributors during the part of the Mozilla Science Lab Global Sprint 2016; Victor Barua, Dianna Barry, and David Bild. Many thanks to Kristina (Mozilla) and the Mozilla Vancouver Space for hosting!</p>

			<p>Big thanks to <a href="http://terreweb.ubc.ca/">TerreWEB</a> and the <a href="https://science.mozilla.org/">Mozilla Science Lab</a> for providing the fellowship funding that made this project possible.</p>

			<br>
			<h4><b>Built On</b></h4>
			<p><a href="https://cartodb.com/">Cartodb.js</a>, <a href="http://leafletjs.com/">Leaflet.js</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="http://materializecss.com/">Materialize Css</a>, and <a href="https://d3js.org/">D3.js</a>.</p>
	</div>
</div>
</div>