<style type="text/css">
.scenery-img {
    width: 200px;
    height: 200px;
}

ul.browser-default li {
  list-style-type: initial;
  margin-left: 30px;
}

section{
	padding-top: 20px;
}

</style>
<div class="container static-page-text-body">
    <div class="row">
        <div class="col s12">
            <div class="col s6 offset-s4"></div>
            <h3><b>About the BC Climate Explorer</b></h3>
            <div class="row">
                <div class="col s12">
                    <div class="col s4"><img class="responsive-img z-depth-2" src="../assets/images/22_diavolo2_h.jpg"></div>
                    <div class="col s4"><img class="responsive-img z-depth-2" src="../assets/images/120_2016_JFR copy.jpg"></div>
                    <div class="col s4"><img class="responsive-img z-depth-2" src="../assets/images/123_2362_RJ copy.jpg"></div>
                </div>
            </div>
            <p>The BC Climate Explorer is an independent, open-source data visualization project. Our goal is to help British Columbians - citizens, professionals, and public servants - to understand their changing local climates.</p>
            <section>
                <h4><b>Motivation</b></h4>
                <p>As the global climate changes, there is an increasing demand for information about the climates that we live and work in. Foresters, engineers, biologists, farmers, and medical professionals need detailed climate data to adjust their practices for anticipated climate changes. Citizens need intuitive climate information to guide their responses in the job market, their communities, and the voting booth. There are many sources of climate data available to British Columbians. However, translating this data into insight can be challenging, even for the most experienced climate analyst. The intent of this tool is to help people develop an intuitive understanding of the differences between the local climates of British Columbia, how these climates are changing, and how they are likely to be influenced by international climate policy.</p>
            </section>
            <section>
                <h4><b>Our Approach</b></h4>
                <p>We believe that climate literacy flows from integrating many types of information: direct experience, maps, stories, photos, graphs, and science. in this beta version, we have focused on helping users to integrate their own personal experience of local climates with climatic maps and graphs, and describing the science behind the data. In future versions, we aim to build in other ways of understanding climates and opportunities for users to contribute their own knowledge.</p>
            </section>
            <section>
                <h4><b>Data Sources</b></h4>
                <p>All climate data used in this site are downloaded from <a href="http://cfcg.forestry.ubc.ca/projects/climate-data/climatebcwna/">ClimateBC</a>. The linework for the climate maps is generalized from Version 10 (beta) of the Biogeoclimatic Subzone/Variant (BGC) Mapping, obtained under the<a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/open-data/open-government-license-bc"> Open Government License – British Columbia</a>. See the "climate data" page for more details about the climate data used on this site. </p>
            </section>

            <section>
            <h4><b>Team</b></h4>
            <div class="row">
                <div class="col s12">
                    <div class="col s6">
                    <div class="row">
                        <div class="col s12">
                            <div class="col s6 offset-s3">
                                <img src="../assets/images/ColinMahony2015_Color.png" class="responsive-img circle z-depth-2">
                            </div>
                        </div>
                    </div>

                        <p><strong><em>Colin Mahony (concept, data, and scientific direction)</em></strong> is a Registered Professional Forester on academic leave to do a PhD at the UBC Faculty of Forestry. <a href="http://colinmahony.wix.com/forestclimates">His research</a> investigates novel climates--new climate types with no analog in the observed climates of BC and North America. Colin is a BEC practitioner with experience in silviculture and site identification on the BC Coast, the Cariboo, and the Kootenays. Colin's contributions to this project are funded by a multi-year Fellowship from <a href="http://terreweb.ubc.ca/">TerreWEB</a>, an NSERC CREATE program that supports communication of global change science.</p>
                    </div>

                    <div class="col s6">
                        <div class="row">
                        <div class="col s12">
                            <div class="col s6 offset-s3">
                                <img src="https://avatars1.githubusercontent.com/u/3622055?v=3&s=400" class="responsive-img circle z-depth-2">
                            </div>
                        </div>
                        </div>

                        <p><strong><em>Joey Lee (web design and development)</em></strong> is a geographer and interaction designer. He is passionate about technological literacy and the engagement of art and science through computation and collaboration. Joey is co-author of "<a href="http://jk-lee.com/the-big-atlas-of-la-pools/">The Big Atlas of LA Pools</a>" and co-creator of the <a href="https://www.kickstarter.com/projects/357538735/aerial-bold-kickstart-the-planetary-search-for-let">"Aerial Bold" Kickstarter project</a> (<a href="https://vimeo.com/108875406">video here</a>). He is currently based in Vancouver, Canada, as a Mozilla Open Science Fellow. Joey’s contributions to this project are funded by <a href="https://science.mozilla.org/programs/fellowships">Mozilla Fellowships for Science</a>, a program supporting community-level open science and data-sharing.</p>
                    </div>
                </div>
            </div>
            </section>
            <section>
                <h4><b>Contributing to the BC Climate Explorer</b></h4>
                <p>The BC Climate Explorer is an open-source project, and we are interested in building our community of contributors. You can contribute to the development of the website on <a href="https://github.com/joeyklee/bec-explorer">GitHub</a>, or email us with your questions, comments, and ideas.</p>
            </section>
            <br>
            <section>
            <h4><b>Acknowledgements</b></h4>
            <p>We gratefully acknowledge the Biogeoclimatic Ecosystem Classification (BEC) and Ecology Research program of the British Columbia Ministry of Forests, Lands and Natural Resource Operations for providing BEC spatial data and expert guidance.</p>
            <p>Big thanks to the developers and financial supporters of ClimateBC, a project of the Centre For Forest Conservation Genetics at the UBC Department of Forest and Conservation Sciences.</p>
            <p>We thank several contributors during the part of the Mozilla Science Lab Global Sprint 2016; Victor Barua, Dianna Barry, and David Bild. Many thanks to Kristina (Mozilla) and the Mozilla Vancouver Space for hosting!</p>
            <p>Big thanks to <a href="http://terreweb.ubc.ca/">TerreWEB</a> and the <a href="https://science.mozilla.org/">Mozilla Science Lab</a> for providing the fellowship funding that made this project possible.</p>
            <br>
            </section>

            <section>
            <center><p>The BC Climate Explorer is built on <a href="https://cartodb.com/">Cartodb.js</a>, <a href="http://leafletjs.com/">Leaflet.js</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="http://materializecss.com/">Materialize Css</a>, and <a href="https://d3js.org/">D3.js</a>.</p></center>
            </section>
        </div>
    </div>
</div>
